# 1. Indexing

In [1]:
#Write code for retriving values from list by indexing and print a statement message for given lists

Question

In [2]:
names = ["Ali", 125000, "Google",5]

output

In [3]:
#'Ali is working in Google for 5 years and his salary is 125000'

In [4]:
messege=names[0] +" is working in " +  names[2 ] +" for "+ str(names[3])+" years and his salary is "+str(names[1])
print(messege)

Ali is working in Google for 5 years and his salary is 125000

# 2.Slicing

In [5]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]

In [6]:
#Outputs:
#(For positive slicing)
#1. ["Faisalabad", "Lahore", "Islamabad", "Peshawar"]
#2. ["Islamabad", "Peshawar", "Quetta", "Sahiwal"]
#3. ["Sahiwal", "Rawalpindi", "Sialkot"]

#(For negative slicing)
#1. ['Quetta', 'Sahiwal', 'Rawalpindi']
#2. ['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

For positive slicing

In [7]:

cities[0:4]

['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']

In [8]:
cities[2:6]

['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']

In [9]:
cities[5:]

['Sahiwal', 'Rawalpindi', 'Sialkot']

Negative Clicing

In [10]:
cities[-4:-1]

['Quetta', 'Sahiwal', 'Rawalpindi']

In [11]:
cities[-5:]

['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

# 3. Update List

Question

In [12]:
#.append

In [13]:
studentdata=["Ali raza", 22, 21.94, "Computer science", 5, "UOA"]

In [14]:
studentdata.append("20 feb 2020")

In [15]:
studentdata

['Ali raza', 22, 21.94, 'Computer science', 5, 'UOA', '20 feb 2020']

In [16]:
studentdata.append(8)

In [17]:
studentdata

['Ali raza', 22, 21.94, 'Computer science', 5, 'UOA', '20 feb 2020', 8]

In [18]:
#.insert

In [19]:
studentdata.insert(4,2500)

In [20]:
studentdata

['Ali raza', 22, 21.94, 'Computer science', 2500, 5, 'UOA', '20 feb 2020', 8]

In [21]:
studentdata.insert(1,"M iqbal")

In [22]:
studentdata

['Ali raza',
 'M iqbal',
 22,
 21.94,
 'Computer science',
 2500,
 5,
 'UOA',
 '20 feb 2020',
 8]

In [23]:
studentdata

['Ali raza',
 'M iqbal',
 22,
 21.94,
 'Computer science',
 2500,
 5,
 'UOA',
 '20 feb 2020',
 8]

In [24]:
studentdata=['Ali raza',
 'M iqbal',
 22,
 21.94,
 'Computer science',
 2500,
 5,
 'UOA',
 '20 feb 2020',
 8]

In [25]:
studentdata

['Ali raza',
 'M iqbal',
 22,
 21.94,
 'Computer science',
 2500,
 5,
 'UOA',
 '20 feb 2020',
 8]

In [26]:
studentdata.remove("Computer science")

In [27]:
studentdata

['Ali raza', 'M iqbal', 22, 21.94, 2500, 5, 'UOA', '20 feb 2020', 8]

In [28]:
studentdata.remove(21.94)

In [29]:
studentdata

['Ali raza', 'M iqbal', 22, 2500, 5, 'UOA', '20 feb 2020', 8]

In [30]:
#Remove using pop method

In [31]:
studentdata.pop(-1)

8

In [32]:
studentdata

['Ali raza', 'M iqbal', 22, 2500, 5, 'UOA', '20 feb 2020']

In [33]:
studentdata.pop(2)

22

studentdata

# 4.Multidimensional list tasks

Question

In [34]:
employee_data=[["Ali", 35000, "Software Engineer"],
				["Talha", 55000, "Product Manager"],
				["Nasir", 79000, "Computer Engineer"],
				["Khalid", 44000, "DBA"]]

In [35]:
#For loop 
    #Tasks

#1. Print name of employees with salaray greater than 50000.
#2. Calculate total salary of all employees.

In [36]:
total_salery=0
for item in employee_data:
    total_salery += item[1]

In [37]:
total_salery

213000

In [38]:
name_with_salery=[]
for i in employee_data:
    name_with_salery.append([i[0],i[1]])

In [39]:
name_with_salery

[['Ali', 35000], ['Talha', 55000], ['Nasir', 79000], ['Khalid', 44000]]

In [40]:
for a in range(5):
    print("Abuzar")

Abuzar
Abuzar
Abuzar
Abuzar
Abuzar

# 5. Login User

In [41]:
username = "faizan1214"
password = "qwerty"
mail = "bu@d.com"
if username == "faizan1214" and password=="qwerty":
    print("login susessfull")
    print("redirecting")

else:
    print("failed")
if mail == "bu@d.com":
    print("mail is valid")
else:
    print("Mail is incorrect")

login susessfull
redirecting
mail is valid

In [42]:
if username == "faizan1214" and password == "qwerty" and mail =="bu@d.com":
    print("login sucessfull")

login sucessfull